
    <app-mayknow-item *ngFor="let mayknowItem of mayknows" [mayknow]="mayknowItem"></app-mayknow-item>



  <!-- <div class="col-sm-3">
   <div class="test">
     <mat-card class="peoplecard">
       <mat-card-content>
         <div class="peopleknow">
           <img src="../../assets/images/network/p3.PNG">
           <div class="personname">Margaret Salama</div>
           <p>Team Lead at Link Development </p>
           <a>
             <mat-icon matListIcon class="icon">link</mat-icon>58 mutual connections
           </a>
           <mat-card-actions align="center">
             <button mat-stroked-button>Connect</button>
           </mat-card-actions>
         </div>
       </mat-card-content>
     </mat-card>
   </div>
 </div> -->

 <!-- <div class="col-sm-3">
   <div class="test">
     <mat-card class="peoplecard">
       <mat-card-content>
         <div class="peopleknow">
           <img src="../../assets/images/network/p2.PNG">
           <div class="personname">Mohsen Galal</div>
           <p>Frontend Developer at MiniMax Software </p>
           <a>
             <mat-icon matListIcon class="icon">link</mat-icon>18 mutual connections
           </a>
           <mat-card-actions align="center">
             <button mat-stroked-button>Connect</button>
           </mat-card-actions>
         </div>
       </mat-card-content>
     </mat-card>
   </div>
 </div> -->

 <!-- <div class="col-sm-3">
   <div class="test">
     <mat-card class="peoplecard">
       <mat-card-content>
         <div class="peopleknow">
           <img src="../../assets/images/network/p4.PNG">
           <div class="personname">Ahmed Adel Domairy</div>
           <p>CTO @ Information Technology (ITI) </p>
           <a>
             <mat-icon matListIcon class="icon">link</mat-icon>23 mutual connections
           </a>
           <mat-card-actions align="center">
             <button mat-stroked-button>Connect</button>
           </mat-card-actions>
         </div>
       </mat-card-content>
     </mat-card>
   </div>
 </div> -->
