<!-- <div class="col-sm-3"> -->

  <div class="test">
    <mat-card class="peoplecard">
      <mat-card-content>

        <div class="peopleknow">
          <img src={{mayknow.imgUrl}}>
          <div class="personname">{{mayknow.title}}</div>
          <p>{{mayknow.job}}</p>
          <a>
            <mat-icon matListIcon class="icon">link</mat-icon>{{mayknow.mutelfriends}}
          </a>
          <mat-card-actions align="center">
            <button mat-stroked-button>Connect</button>
          </mat-card-actions>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
<!-- </div> -->
