<mat-nav-list>
  <mat-list-item>
    <mat-icon matListIcon> assignment_ind </mat-icon>
    <p mat-list-item class="Praglink">Teammates </p>
  </mat-list-item>
</mat-nav-list>
<!-- -------- -->

<mat-nav-list>
  <mat-list-item>
    <mat-icon matListIcon> book </mat-icon>
    <p mat-list-item class="Praglink">Contacts </p>
  </mat-list-item>
</mat-nav-list>
<!-- ---------- -->

<mat-nav-list>
  <mat-list-item>
    <mat-icon matListIcon> person_pin </mat-icon>
    <p mat-list-item class="Praglink">People I Follow </p>
  </mat-list-item>
</mat-nav-list>
<!-- ------ -->

<mat-nav-list>
  <mat-list-item>
    <mat-icon matListIcon> group_add </mat-icon>
    <p mat-list-item class="Praglink">Group</p>
  </mat-list-item>
</mat-nav-list>
<!-- ------------- -->

<mat-nav-list>
  <mat-list-item>
    <mat-icon matListIcon> description </mat-icon>
    <p mat-list-item class="Praglink">Pages </p>
  </mat-list-item>
</mat-nav-list>
<!-- -------- -->

<mat-nav-list>
  <mat-list-item>
    <mat-icon matListIcon> <b>#</b> </mat-icon>
    <p mat-list-item class="Praglink">Hashtags </p>
    <mat-icon class="iconn" align="end"> add </mat-icon>
  </mat-list-item>
</mat-nav-list>


<br>
<mat-divider></mat-divider>

<img src="../../assets/images/network/picside.PNG" class="imgside">
<br>
<mat-divider></mat-divider>

<div class="section2">
  <p>Add personal contacts</p>
  <p>We’ll periodically import and store your contacts to help you and others connect. You choose who to
    connect to and who to invite.
    <span style="color: #0073b1;"> Learn more</span></p>

  <input type="text" value="esso.em.96@gmail.com">
  <mat-card-actions align="center">
    <button mat-stroked-button> Continue </button>
  </mat-card-actions>
</div>
