<!-- <app-nav></app-nav> -->

<!--<app-network></app-network>-->

<!-- <main> -->

<!-- <app-profile ></app-profile> -->

<!-- <div fxLayout="row wrap" fxLayoutAlign="space-between start">

    <app-profile-card></app-profile-card>
    <div>
      <app-post-box></app-post-box>
      <mat-divider class="divider-margin"></mat-divider>
      <app-post></app-post>
      <app-post></app-post>
      <app-post></app-post>
    </div>
    <div fxFlex="20"></div>

  </div> -->


<!-- <app-profile-card></app-profile-card> -->
<!-- <app-post-box></app-post-box> -->
<!-- <app-post></app-post> -->
<!-- <app-shared-post></app-shared-post> -->

<!-- </main> -->



<!-- <app-signup></app-signup> -->
<!-- <app-profile></app-profile> -->
<!-- <app-signin></app-signin> -->
<app-shared></app-shared>

<router-outlet>
</router-outlet>
