@import '../app.component.scss';

.reacted-on {
  color: #0073b1;
}

.post-text {
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-reactions {
  padding-top: 5px;
  padding-bottom: 5px;
}


.reply {
  margin-left: 15%;
  ;
}
  